*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    height: 3000px;
}

/*HEADER*/

header{
    width: 100vw;
}

.contenedor-header{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 200px;
    margin: 15px 0;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 5px;
}

nav ul li a{
    padding: 10px 15px;
    text-decoration: none;
}

/*FONDO*/

#fondo{
    background-image: url(/img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100vw;
}

/*BIOGRAFIA*/

#biografia{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.contenedor-bio{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
}



.texto{
    max-width: 30%;
}

.foto-bio{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}